<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col" id="register">
      <div class="form-floating mb-3">
        <input
          #txtUsernameOrEmail
          type="text"
          class="form-control"
          id="username"
          placeholder="username"
        />
        <span class="invalid-feedback">Kullanıcı Adı boş bırakılmaz</span>

        <label for="username">Kullanıcı Adı & Email</label>
      </div>

      <div class="form-floating mb-3">
        <input
        #txtPassword
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
        />
        <span class="invalid-feedback">Şifre boş bırakılmaz</span>

        <label for="password">Şifre</label>
      </div>
      <button class="btn btn-secondary mt-3" type="submit" (click)="login(txtUsernameOrEmail.value,txtPassword.value)">Giriş Yap</button>
    </div>
    <div class="col"></div>
  </div>
</div>
